---
layout: default
---
<!DOCTYPE html>
<html>
<body>
<h1>About Courtney</h1>
<p>Courtney Floyd earned her Ph.D. in English at the University of Oregon, where she specialized in Victorian literature and print culture. 
  Her dissertation, “Printing the Other Victorians: Nineteenth-Century Fictions of Embodiment and Identity,” draws on materialist methodologies 
  from periodical studies, archival studies, and the digital humanities to examine embodiment and embodied identity as they manifest in and 
  through newspapers, novels, advertisements, archives, and more.</p>
  <p> Currently, Courtney is the Associate Director of Learning Technologies and Digital Humanities at University of Virginia’s Contemplative Sciences Center. 
    She works with faculty, staff, and graduate students across all 11 of UVA’s schools to promote deep, experiential learning and student flourishing in and
    beyond the classroom through strategic technology use. </p>
  <p> In 2017, she launched Victorian Scribblers, a history and biography podcast about the lives and work of the nineteenth-century writers time forgot (now entering its third season), 
    which she researches, writes, and produces with the help of her co-host, Eleanor Dumbill (Loughborough University, UK). </p>
<p> In addition to her academic and professional work, Courtney is a published fiction writer. Her work has appeared in <em>Fireside Fiction Magazine</em> and is forthcoming with Galli Books. 
  If you’re curious, you can find her author website <a href="http://www.courtney-floyd.com">here</a>.</p>
</body>
</html>


  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="/">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>
